# OS
.DS_Store
Thumbs.db
*.swp
*.swo

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Node/Build
node_modules/
dist/
.parcel-cache/

# Logs
*.log
npm-debug.log*

# Local files
.env.local
*.backup